body{
	font-family: Arial,Helverica,sans-serif;
	font-size: 15px;
	line-height: 1.6em;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4f4; 
}
/*Global*/
h1{
	text-align: center;
	font-size: 50px;
	font-family: gill sans mt,candara;
	text-decoration: underline;
}

.container{
	width:80%;
	margin: auto;
	overflow: hidden;
}
 ul{
	margin:0;
	padding:0;
	}
.button_1{
	height:38px;
	background: orange;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	}
.dark{
	padding:15px;
	background: #35424a;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}
header{
	background: pink;
	background:url("../images/blacck4.jpg") no-repeat 0-400px ;
	color: white;
	padding-top: 30px;
	min-height: 70px;
	border-bottom:red 3px solid;
}
header a{
	color:white;
	text-decoration: none;
	font-size: 16px;


}
header li{
	float:left;
	display: inline-block;
	padding: 0 20px 0 20px ;


}
header #branding{
	float: left;


}
header #branding h1{
	margin: 0;
}
header nav{
	float: right;
	margin-top: 10px;


}
header .highlight, header .current a{
	color:#e8491d;
	font-weight: 10px;
}
header a:hover{
	color:grey;
	font-weight: bold;
}

/*media queries*/

@media(max-width:768px){
	header #branding, header nav, header nav li,#newsletter h1,#newsletter form,#boxes .box, article #main-col, aside #sidebar{
		float: none;
		text-align:center;
		width:100%;
	}
}


.asd{
	list-style:none;
	margin: 20px 30px;
	display: inline-block;
	font-size: 50px;
	padding: 10px 10px;
	color: black;
	

}
h1{
	text-decoration: underline;
	font-family: gill sans mt,candara;
	font-weight: bold;
}
h2{
	text-decoration: underline;
	font-family: gill sans mt,candara;
	font-weight: bold;
	font-size: 30px
}
footer{
	
	padding:4px;
	margin-top: 15px;
	color:white;
	font-family: gill sans mt,candara;
background-color: black;
text-align: center;

}





