body{
	font-family: Arial,Helverica,sans-serif;
	font-size: 15px;
	line-height: 1.6em;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4f4; 
}
/*Global*/
h1{
	text-align: center;
	font-size: 50px;
	font-family: gill sans mt,candara;
	text-decoration: underline;
}

.container{
	width:80%;
	margin: auto;
	overflow: hidden;
}
 ul{
	margin:0;
	padding:0;
	}
.button_1{
	height:38px;
	background: orange;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	}
.dark{
	padding:15px;
	background: #35424a;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}
header{
	background: pink;
	background:url("../images/blacck4.jpg") no-repeat 0-400px ;
	color: white;
	padding-top: 30px;
	min-height: 70px;
	border-bottom:red 3px solid;
}
header a{
	color:white;
	text-decoration: none;
	font-size: 16px;


}
header li{
	float:left;
	display: inline-block;
	padding: 0 20px 0 20px ;


}
header #branding{
	float: left;


}
header #branding h1{
	margin: 0;
}
header nav{
	float: right;
	margin-top: 10px;


}
header .highlight, header .current a{
	color:#e8491d;
	font-weight: 10px;
}
header a:hover{
	color:grey;
	font-weight: bold;
}

/*Showcase*/
#showcase{
	min-height: 500px;
	background-color: blue;
	
	background:url("../images/black2.jpg") no-repeat 0-150px ;

	text-align: center;
	color: white;
}
#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom:10px;
}
#showcase p{
	font-size:20px;
}
/*newsletter*/
#newsletter{
	padding:15px;
	color: white;
	background: #35424a;
}
#newsletter h1{
	float:left;

}
#newsletter form{
	float:right;
	margin-top: 15px;
}
#newsletter input[type="email"]{
	padding:4px;
	height: 25px;
	width:250px;
}

.maindiv{
			width: 70%;
			height: 400px;
			position: absolute;
			left: 50%;
			top: 111%;
			transform: translate(-50%,-50%);
			background:url("../images/1travelling.jpg");
			background-size: 100% 100%;
			animation: slider 20s infinite linear;
		}
		@keyframes slider{
			0%{
				background:url("../images/1travelling.jpg");
				
			}
			35%{
				background: url("../images/1movies.jpg");
				
			}
			75%{
				background: url("../images/reading1.jpg");
				
			}
		}

/*boxes*/
#boxes{
	margin-top: 20px;
}
#boxes .box{
	float:left;
	text-align: center;
	width:30%;
	padding:10px;
}
#boxes .box img{
	width:90px;

}
/*sidebar*/

aside #sidebar{
	float:right;
	width:30%;
	margin-top: 10px;
	background-image: url("../images/showcase.jpg");
}
aside #sidebar.quote input aside #sidebar.quote textarea{
	width: 90%;
	padding: 5px;
	background-image: url("../images/showcase.jpg");
}
/*main-col*/
article #main-col{
	float:left;
	width:65;
}
/*skills*/
ul #skills li{
	list-style-type: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background:#e6e6e6;

}

footer{
	padding:4px;
	margin-top: 15px;
	color:white;
	font-family: gill sans mt,candara;
background-color: black;
text-align: center;

}

/*media queries*/

@media(max-width:768px){
	header #branding, header nav, header nav li,#newsletter h1,#newsletter form,#boxes .box, article #main-col, aside #sidebar{
		float: none;
		text-align:center;
		width:100%;
	}
	header{
		padding-bottom: 20px;
	}
	#showcase h1{
		margin-top:40px;

	}
	#newsletter button, .quote button{
			display: block;
			width: 100%
		}
		#newsletter form input[type="email"], .quote input,.quote textarea{
			width:100%;
			margin-bottom:5px;
		}
}



