
body{
	font-family: Arial,Helverica,sans-serif;
	font-size: 15px;
	line-height: 1.6em;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4f4; 
}
/*Global*/
h1{
	text-align: center;
	font-size: 50px;
	font-family: gill sans mt,candara;
	text-decoration: underline;
}
.h1-responsive {
	text-align: center;
	font-size: 50px;
	font-family: gill sans mt,candara;
	text-decoration: underline;
}

.container{
	width:80%;
	margin: auto;
	overflow: hidden;
}
 ul{
	margin:0;
	padding:0;
	}
.button_1{
	height:38px;
	background: orange;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	}
.dark{
	padding:15px;
	background: #35424a;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}
header{
	background: pink;
	background:url("../images/blacck4.jpg") no-repeat 0-400px ;
	color: white;
	padding-top: 30px;
	min-height: 70px;
	border-bottom:red 3px solid;
}
header a{
	color:white;
	text-decoration: none;
	font-size: 16px;


}
header li{
	float:left;
	display: inline-block;
	padding: 0 20px 0 20px ;


}
header #branding{
	float: left;


}
header #branding h1{
	margin: 0;
}
header nav{
	float: right;
	margin-top: 10px;


}
header .highlight, header .current a{
	color:#e8491d;
	font-weight: 10px;
}
header a:hover{
	color:grey;
	font-weight: bold;
}



.gallery_box li{ width:33.333333%; max-width: 100% ; display:inline-block; float: left; text-align: center; overflow: hidden;    position: relative;}
.gallery_box{ padding:0;display: flow-root;}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery_box li img{-webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;}
.gallery_box li:nth-child(even) {
    height: 304px;
}
.gallery_box li:nth-child(odd) {
    height: 438px; 
}
.gallery_box li:nth-child(odd) .box_data{ background:rgba(0,0,0,0.17) }
.gallery_box li:nth-child(even) .box_data{ background:rgba(0,44,255,0.27) }
.gallery_box .box_data{ position:absolute; top: 0; left: 0; right:0; bottom:0; color:#fff;}
.gallery_box .box_data span{ position:absolute; top: 50%; transform: translateY(-50%); left:0 ; right:0; font-size:24px;}
.gallery_box li:hover .box_data{ background:rgba(255,0,39,0.55)}

